
<form  >
      <div class="form-group has-danger">
        <input type="text" class="inputBurger form-control" id="name" name="name" required>
        <button type="submit" class="addBurger btn btn-primary btn-lg">Add It</button>
      </div>
    </form>
<script>

        //Add burger
        $(".addBurger").on("click", (() => {
          var burgerInput = $("#name").val().trim();
          $.ajax({
            url: "/api/burger",
            data: { text: burgerInput },
            method: "POST",
            type: JSON,
            success: function(res) {
              console.log(res.from)
            }

          })
          $("#name").val(" ");
          
        }))
    </script>