<footer class="foot">
    <div class="contact-icon">
        <ul>
            <li><a href="https://github.com/erynjohn" target="_blank" rel="noreferrer"><i class="fab fa-github-square" aria-label="GitHub Link"></i></a></li>
            <li><a href="https://www.linkedin.com/in/erynmonestero" target="_blank"><i class="fab fa-linkedin" rel="noreferrer" aria-label="LinkedIn Link"></i></a>
            </li>
            <li><a href="mailto:erynmonestero@gmail.com"><i class="fas fa-envelope-square" aria-label="Email Address"></i></a>
            </li>
            <li><a href="tel:+1-469-571-3320" aria-label="Phone Number"><i class="fas fa-phone-square"></i></a></li>
        </ul>
    </div>
</footer>