
<style>
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1540265556701-ae209ac395cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

/* hero height */
  height: 40%;

  /* Position and center */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>


<div class="hero-image">
  <div class="hero-text">
    <h1>Da Burger Shop</h1>
    <h4>Who doesn't like a good hero with fries</h4>
    <h6>Be a hero -Fight Hunger</h6>
    <p>Add like enjoy!</p>
  </div>
</div>
