<style>
  * {
  box-sizing: border-box;
}
body {
  padding: 5px;
  background-color: rgb(238, 236, 236);
}
.card {
  background-color: #ffff;
  margin: 10px 30%;
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 2fr));
    grid-gap: 10px;
  }
  .addBurgerDiv {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .consumedBurger {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 132px;
  }
  @media screen and (max-width: 780px) {
  h2, h3, h5, h6 {
    font-size: 1em;
  }
  .addBurger {
    font-size: 1em;
  }
  #btn-id {
    font-size: 0.4em;
  }
    
</style>

{{> hero}}

<div class="grid-container">

<div class="addBurgerDiv"> 
  {{> addBurger}}
</div>
<div class="consumedBurger">
{{> burgerConsumed}}
</div>
</div>
